In [ ]:
#1. In the below elements which of them are values or an expression? eg:- values can be integer or string 
    and expressions will be mathematical operators.
* : Expression 
'hello' : Value
-87.8  : Value
- : Expression
/ : Expression
+ : Expression
6 : Value

In [ ]:
# 2. What is the difference between string and variable?

a = 'My name is Chirandeep'

# Ans: Here a is a variable which stores the string value OR in other words the string value is assigned to a. String value is unique,
#whereas the variable a can take multiple values

In [3]:
# 3. Describe three different data types.

# 1. Integers: Numbers from a range of -infinity to +infinity

a = 5
type(a)

int

In [4]:
#2. Floating-Point Numbers: Any decimal number either negative or positive

b = 5.678
type(b)

float

In [5]:
#3. Complex Numbers: A mix of rational and irrational numbers

c = 8+5j
type(c)

complex

In [ ]:
# 4. What is an expression made up of? What do all expressions do?

# Ans: Expressions are representations of value in Python. Expressions help us create a value or represent a value.
# Python expressions are made up of identifiers (name that is used to define a class, function, variable module, or object is 
# an identifier), literals (These are language-independent terms in Python and should exist independently in any programming
# language. In Python, there are the string literals, byte literals, integer literals, floating point literals, and imaginary
# literals) and operators (These are mathematical operators like +, -, *, /, ** etc)

In [ ]:
# 5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

# Ans: Expression are different from statement in the fact that statements do something while expressions are representation
# of value, so in the example here this assigment statement is assigning the value 10 to the variable spam, whereas if we talk
# about expression [x for x in range(3)] will create a list [0, 1, 2]

In [6]:
# 6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

# Ans: Bacon still contains the value 22, because we still havent assigned the value to the variable bacon after adding 1 to it

23

In [7]:
bacon

22

In [8]:
# 7. What should the values of the following two terms be?
'spam' + 'spamspam'

'spamspamspam'

In [9]:
'spam' * 3

'spamspamspam'

In [ ]:
# 8. Why is eggs a valid variable name while 100 is invalid?

# Ans: Python identifies 100 as a literal and not a identifier, while for eggs it recognizes it as a variable / indentifier, so eggs
# is a valid variable name and 100 is not

In [16]:
# 9. What three functions can be used to get the integer, floating-point number, or string version of a value?

a = 5

In [17]:
type(a)

int

In [18]:
str(a)

'5'

In [19]:
float(a)

5.0

In [20]:
int(a)

5

In [21]:
# Ans: The three functions are int, float and str respectively

In [22]:
# 10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'

TypeError: can only concatenate str (not "int") to str

In [23]:
'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'

In [ ]:
# Ans: We need to convert the integer 99 to string and then it can concatenate, as concatenation works only with similar data
#types